@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	background: #edf1f7;
}
.header { 
	text-align: center;
	font-family: Sofia, Arial, sans-serif;
 }

 .subheader {
 	font-family: Roboto, Arial, sans-serif;
 }

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

.caption {
 	font-size: 15px;
 	text-align: right;
 	background-color: #e8ebef;
 }

 .leftcolumn {
 	float: left;
 	width: 50%
 }

 .rightcolumn{
 	float: left;
 	width: 50%
 }

 .card {
	background-color: white;
	width:95%;
	margin:auto;
}

 .row:after {
 	content: "";
 	display: table;
 	clear: both;
 }
 
 @media screen and (max-width: 600px){
 	.leftcolumn, .rightcolumn{
 		width: 100%;
 		padding: 0;
 	}
}

.video {
	text-align: center;
}

.footer {
	float:right;
}